footer {
    width: 100vw;
    height: 8vh;
    background-color: var(--darkGray);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    color: #ffffff;
    font-family: "Merriweather", serif;
}