@media (max-width: 1024px) {
    html{
        overflow-x: hidden;
    }

    .pagesContainer {
        scroll-margin-top: 5vh;
    }

    #services {
        min-height: 100vh;
        flex-wrap: wrap;
    }

    .contactContainer {
        min-height: 100vh;
        flex-wrap: wrap;
    }

    .contactContainer-element {
        width: 30vw !important;
    }

    .contact-text span {
        font-size: 20px !important;
    }

    .about-description {
        font-size: 15px;
        margin: 20px 0 0 35px !important;
    }

    .contact-description--element {
        margin: 20px 0 20px 15px !important;
        align-items: flex-start;
    }

    .contact {
        order: 2;
        margin-bottom: 60px !important;
    }
    
    .social {
        order: 1;
        margin-left: 100px !important;
    }

    .social-description {
        margin-left: 15px !important;
    }

    .social-conatiner {
        display: flex;
        margin: 15px 15px !important;
        gap: 20px;
    }

    .social-btn {
        min-width: 50px;
        min-height: 50px;
        font-size: 30px !important;
    }

    .icon-btn {
        min-width: 70px;
        min-height: 70px;
        font-size: 30px !important;
    }
}

@media (max-width: 768px) {
    .navLogo {
        width: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px !important;
        font-weight: 800;
    }

    .navContainer {
        font-size: 12px !important;
        font-weight: 600;
    }

    .headerContainer {
        min-width: 40vw;
        height: 22vh;
        top: 17.5%;
        left: 60% !important;
    }

    .pagesCustom {
        margin-top: 10px !important;
    }

    #services {
        min-height: 200vh;
    }

    .blogContainer .phone {
        max-width: 60%;
        max-height: 50%;
        margin: 3px 50px 0 40px !important;
        top: 60% !important;
    }

    .blogContainer-main span {
        font-size: 30px !important;
    }

    .blogContainer-main--description {
        gap: 50px;
        margin-left: 15px !important;
    }
    
    .blogContainer-main--description .normal {
        font-size: 13px !important;
    }
    
    .blogContainer-main--description .italic {
        font-size: 13px !important;
    }

    .numbers {
        flex-wrap: wrap;
    }

    .numbers-containers {
        margin: 0 20px !important;
    }
    
    .contactContainer {
        min-height: 110vh;
        padding-top: 50px !important;
        scroll-margin-top: 5vh !important;
    }

    .contactContainer-element {
        min-width: 60vw;
    }

    .contact-description {
        flex-wrap: wrap;
    }

    .social {
        margin-left: 30px !important;
    }

    .contact {
        margin-left: 80px !important;
    }
}

@media (max-width: 425px) {
    header {
        scroll-margin-top: 15vh !important;
    }

    nav {
        min-height: 14vh;
        margin-top: -14vh !important;
    }
    
    .navContainer {
        flex-wrap: wrap;
    }

    .navContainer .container {
        max-width: 80px;
    }
    
    .navLogo {
        margin-left: 15px !important;
        font-size: 15px !important;
    }

    .slider {
        height: 35vh;
        margin-top: 14vh !important;
        margin-bottom: 15vh !important;
    }

    .headerContainer {
        min-width: 40vw;
        max-height: 18vh;
        top: 17.5%;
        left: 60% !important;
    }

    .headerContainer p {
        font-size: 15px !important; 
    }

    .pagesContainer {
        scroll-margin-top: 25vh !important;
        min-height: 200vh;
        flex-wrap: wrap;
        column-gap: 500px;
    }

    .pagesContainer-element {
        min-width: 80vw;
        height: 45vh;
    }

    .pagesContainer-element p {
        min-width: 60vw;
    }

    .featureHeading {
        min-height: 40vh;
        scroll-margin-top: 20vh !important;
    }

    .featureHeading-description {
        min-width: 70vw;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 0;
        width: 90vw;
        height: auto;
        margin: 0 5vw 5vw 5vw;
    }

    .picture-7 {
        grid-column: 2 / span 2 !important;
        grid-row: 3;
    }

    #blog{
        scroll-margin-top: 12vh !important;
    }

    .blogContainer .phone {
        min-width: 60% !important;
        min-height: 50%;
        margin: 0 0 0 20px !important;
        top: 70.4% !important;
    }

    .blogContainer .phone img {
        width: 80% !important;
        height: 80% !important;
        border-radius: 20px 20px 0 0 !important;
    }

    .blogContainer-main {
        top: 5% !important;
        left: 33% !important;
    }

    .blogContainer-main span {
        min-width: 100vw;
        font-size: 30px !important;
    }

    .blogContainer-main--description {
        gap: 50px;
        margin-left: 15px !important;
    }
    
    .blogContainer-main--description .normal {
        min-width: 40vw;
        font-size: 13px !important;
    }
    
    .blogContainer-main--description .italic {
        position: absolute;
        min-width: 40vw;
        font-size: 13px !important;
        top: 70%;
        left: 50%;
    }

    .contactContainer {
        min-height: 180vh;
        padding-top: 50px !important;
        scroll-margin-top: 5vh !important;
        column-gap: 20px;
    }

    .social .contact-text span {
        min-width: 20vh !important;
    }

    .social-conatiner {
        flex-wrap: wrap;
    }

    .contact {
        order: 1 !important;
        margin-left: 20px !important;
    }

    .about {
        margin-left: -50px !important;
    }
    
    .social {
        order: 2 !important;
        margin-left: -20px !important;
    }

    .contact .contact-text span {
        min-width: 20vh !important;
    }
}